{% extends 'base.html' %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">為什麼你需要它?</h1>
                    <div class="feature-list">
                        <div class="feature-item mb-4">
                            <p class="mb-2">
                                <strong>不知道吃什麼?</strong>
                                <br>
                                「美食占卜」幫你抽出「命定餐點」，甚至還有美食運勢解析!
                            </p>
                        </div>
                        
                        <div class="feature-item mb-4">
                            <p class="mb-2">
                                <strong>想挑戰新美食?</strong>
                                <br>
                                「美食挑戰榜」讓你完成各種瘋狂美食挑戰，解鎖專屬復古徽章!
                            </p>
                        </div>
                        
                        <div class="feature-item mb-4">
                            <p class="mb-2">
                                <strong>不想忘記美好回憶?</strong>
                                <br>
                                「美食記憶簿」自動記錄你吃過的美食、朋友合照、甚至當時的心情!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
